INSTANCE_NAME="Skyfallen CAS"
env=dev

DB_TYPE=mongo
DB_CONN_URI== ### MONGO CONNECTION STRING ###
DB_CONN_NAME= ### MONGO DB NAME ###

WEB_PORT= ### PORT OF THE WEB SERVICE ###

FRONTEND_URL= ### URL OF SKYFALLEN ID FOR CORS HEADERS ### 

DO_NOT_ALTER_VALUES_AFTER_THIS_LINE: 0
CAS_VERSION: "Beta 1"
ID_VERSION: "Beta 1"
